<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Abilities</h2>
                    <h3 class="section-subheading text-muted">
                        <!-- El reparto más equitativo que existe es el de la inteligencia: todo el mundo cree tener suficiente. -->
                        <p>"The fairest distribution that exists is that of intelligence: everyone thinks they have enough"</p>
                        <p>- Noel Clarasó.</p>
                    </h3>
                </div>
            </div>
            <hr>
            <h3>Skills</h3>
            <div class="row">
                <div class="col-lg-12" style="display:flex; justify-content: space-evenly !important;">
                    {% assign tam = site.skills.size %}                
                    {% assign limite =  tam | divided_by: 2 %}
                    {% assign residuo = tam | modulo: 2 %}
                    {% assign inicio = 0 %}
                    {% assign columnas = tam | divided_by: limite %}
                    {% assign limite = limite | plus: residuo %}
                    {% for i in (1..columnas) %}
                        <div class="col-md-6">
                            <ul class="no-bullets">
                                {% for skill in site.skills offset:inicio limit:limite %}<!--offset indica desde que elemento empieza, 
                                                                                limit indica cuantos va a tomar el for-->
                                        <li class="hvr-grow hvr-icon-pulse">
                                            <span style="float: left;">{{ skill.name }}</span>
                                            <span style="float: right;">
                                            {% case skill.domine %}
                                                {% when 1 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                {% when 2 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                {% when 3 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                {% when 4 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                {% when 5 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                {% else %}
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>                                                
                                            {% endcase %}
                                            </span>
                                        </li>
                                {% endfor %} 
                            </ul>
                        </div>
                        {% assign inicio = inicio | plus: limite %}
                    {% endfor %} 
                </div>
            </div>
            <hr>
            <h3>Languages</h3>
            <div class="row">
                <div class="col-lg-12" style="display:flex; justify-content: space-evenly !important;">                
                    {% assign tam = site.languages.size %}                
                    {% assign limite =  tam | divided_by: 2 %}
                    {% assign residuo = tam | modulo: 2 %}
                    {% assign inicio = 0 %}
                    {% assign columnas = tam | divided_by: limite %}
                    {% assign limite = limite | plus: residuo %}
                    {% for i in (1..columnas) %}
                        <div class="col-md-6">
                            <ul class="no-bullets">
                                {% for skill in site.languages offset:inicio limit:limite %}<!--offset indica desde que elemento empieza, 
                                                                                limit indica cuantos va a tomar el for-->
                                        <li class="hvr-grow hvr-icon-pulse">
                                            <span style="float: left;">{{ skill.name }}</span>
                                            <span style="float: right;">
                                            {% case skill.domine %}
                                                {% when 1 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                {% when 2 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                {% when 3 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                {% when 4 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                {% when 5 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                {% else %}
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>                                                
                                            {% endcase %}
                                            </span>
                                        </li>
                                {% endfor %} 
                            </ul>
                        </div>
                        {% assign inicio = inicio | plus: limite %}
                    {% endfor %} 
                </div>
            </div>

            <hr>
            <h3>Tools</h3>
            <div class="row">
                <div class="col-lg-12" style="display:flex; justify-content: space-evenly !important;">                
                    {% assign tam = site.tools.size %}                
                    {% assign limite =  tam | divided_by: 2 %}
                    {% assign residuo = tam | modulo: 2 %}
                    {% assign inicio = 0 %}
                    {% assign columnas = tam | divided_by: limite %}
                    {% assign limite = limite | plus: residuo %}
                    {% for i in (1..columnas) %}
                        <div class="col-md-6">
                            <ul class="no-bullets">
                                {% for skill in site.tools offset:inicio limit:limite %}<!--offset indica desde que elemento empieza, 
                                                                                limit indica cuantos va a tomar el for-->
                                        <li class="hvr-grow hvr-icon-pulse">
                                            <span style="float: left;">{{ skill.name }}</span>
                                            <span style="float: right;">
                                            {% case skill.domine %}
                                                {% when 1 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                {% when 2 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                {% when 3 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                {% when 4 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                {% when 5 %}
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                    <i class="fa fa-star hvr-icon"></i>
                                                {% else %}
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>
                                                    <i class="fa fa-star-o hvr-icon"></i>                                                
                                            {% endcase %}
                                            </span>
                                        </li>
                                {% endfor %} 
                            </ul>
                        </div>
                        {% assign inicio = inicio | plus: limite %}
                    {% endfor %} 
                </div>
            </div>
        </div>
    </section>

    <!--
        <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    -->